<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="taskListLogin.css">
    <title>Invalid registration</title>
  </head>
  <body>
    <div class="navBar">
        <nav class="nav nav-pills nav-justified">
          <a class="nav-link active" href="/home">Home</a>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <img src="logo3.png" class="logo" >
        </nav>
    </div>
    <p class="userex">User already exists</p>
    <a href="/register" class="userexanch">Go back to registartion fom</a>
  </body>
</html>
